a.out
config.h
config.log
config.status
doc/drafts/Makefile
doc/Makefile
doc/texi2pod.pl
lib/contrib/Makefile
lib/Makefile
m4/Makefile
Makefile
po/Makefile
po/Makefile.in
po/POTFILES
src/core.o
src/flagset.o
src/Makefile
src/misc.o
src/netcat
src/netcat.o
src/network.o
src/telnet.o
src/udphelper.o
stamp-h1
test.c
